
:root {
  --primary-color: #fd9d0d;
  --secondary-color: #6c757d;
  --background-color: #f0f2f5;
  --surface-color: #ffffff;
  --text-color: #212529;
  --border-color: #dfe2e6;
}
body {
  background-color: var(--background-color);
  font-family: "Krub", sans-serif;
  color: var(--text-color);
}

.page-header {
    background-color: rgb(219, 16, 16);
    padding: 20px;
  
}

#page-title {
  color: var(--primary-color);
  /* สีน้ําเงินเข็ม */
  font-size: 24px;
}

.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  margin: 10px;
}

* {
  box-sizing: border-box;
}
