:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --background-color: #f0f2f5;
  --surface-color: #ffffff;
  --text-color: #212529;
  --border-color: #dfe2e6;
}
body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.page-header {
    background-color: rgb(17, 3, 94);
    padding: 20px;
  
}

#page-title {
  color: var(--primary-color);
  /* สีน้ําเงินเขม */
  font-size: 24px;
}

.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  margin: 10px;
}

* {
  box-sizing: border-box;
  .charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

}